quartus/db/
quartus/incremental_db/
quartus/output_files/*
!quartus/output_files/fpga_qpsk_baseband_visual_system.sof
quartus/simulation/
quartus/*.rpt
quartus/*.summary
quartus/*.done
quartus/*.jdi
quartus/*.pin
quartus/*.qws
quartus/*.smsg
quartus/*_assignment_defaults.qdf

sim/work/
sim/transcript
sim/qpsk_samples.csv

release/
__pycache__/
*.pyc
